.freeze {
  display: inline-block;
  width: 95%;
}

.freeze-inputs {
  display: inline-flex;
  width: 90%;
  margin-bottom: 5px;
}

.freeze-info-input {
  width: 39.5%;
  margin-top: 10px;
  border: black solid 1px;
}

.freeze-embryo-input {
  width: 50%;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

.freeze-addembryo {
  padding: 10px;
  margin: 10px 0px;
}

.freeze-addembryo-input-embryo_id {
  width: 60px;
}

.freeze-addembryo-input-note {
  width: 280px;
}
.freeze-addembryo-input-embryo_stage {
  width: 120px;
}

.freeze-addembryo-input-color,
.freeze-addembryo-input-quantity {
  width: 40px;
}

.freeze-id-input {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0 5px 40px;
}

.freeze-id-form {
  margin-right: 50px;
}

.submit-button {
  width: 80px;
  height: 40px;
  background-color: rgb(202, 147, 216);
  font: bolder;
  font-size: 20px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: lightblue;
  color: white;
}

.freeze-tank,
.freeze-canister {
  width: 50px;
}

.freeze-form-legend {
  font-weight: bold;
}

.freeze-basic-input1 {
  display: flex;
  text-align: left;
  margin-left: 37px;
}

.freeze-basic-input2 {
  width: 55%;
  display: block;
  text-align: left;
  margin-left: 37px;
}

.freeze-basic-input3 {
  width: 45%;
  display: block;
  text-align: left;
  margin-left: 17px;
}

label {
  display: inline-block;
  margin: 5px 0px;
}

.freeze-plus-minus {
  display: inline-flex;
}

.freeze-minus {
  width: 25px;
  margin-right: 5px;
}

.freeze-plus {
  width: 25px;
  margin-left: 5px;
}

.freeze-stock {
  width: 92%;
  display: inline-block;
}

.freeze-choose-tank {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.freeze-tank-table-container {
  width: 60%;
  margin-left: 10px;
}

.freeze-latest-tank-container {
  width: 40%;
  border: black solid 1px;
  margin-left: auto;
  margin-right: auto;
}

.freeze-tr:nth-child(even) {
  background-color: transparent;
}

.freeze-tr:hover {
  background-color: #ffa;
}

.freeze-first-col {
  font-weight: bold;
  width: 30px;
  background-color: rgb(234, 211, 240);
}

.freeze-other-cols {
  width: 20px;
  cursor: pointer;
}

.freeze-first-col,
.freeze-other-cols {
  position: relative;
}
.freeze-first-cols:hover::after,
.freeze-other-cols:hover::after {
  content: "";
  position: absolute;
  background-color: #ffa;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}

.freeze-message {
  color: rgb(98, 8, 121);
  font: 1.5em sans-serif;
}

.freeze-images {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center d;
  margin: 15px auto;
}

.freeze-image {
  width: 25%;
  border: solid 1px rgba(0, 0, 0, 0.568);
}
