.search-inputs {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-space {
  width: 20%;
}

.search-id {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-id-input {
  width: 80px;
}

.search-tank-input {
  width: 28px;
}

.search-add-space {
  width: 5%;
}

.search-graphandimage {
  width: 96%;
  display: flex;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.search-image {
  width: 40%;
}

.search-graph {
  width: 60%;
}

.search-graph3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-graph2-container {
  width: 50%;
  margin-top: 25px;
  margin-right: 10px;
}
.search-graph3-container {
  display: block;
  width: 50%;
}

.search-graph3-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.search-graph3-btn button {
  margin-right: 20px;
}


label {
  margin-right: 15px;
  /* background-color: rgb(255, 1, 255); */
}

.search .table-container table th {
  position: sticky;
  top: 0;
}

.check-button {
  width: auto;
  height: 45px;
  background-color: rgb(236, 217, 236);
  color: blueviolet;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin: 0px 10px;
}

.check-button:hover {
  background-color: rgb(230, 180, 230);
  color: rgb(245, 239, 230);
}

.alert {
  color: red;
}
