.th-id {
  display: inline-flex;
  align-items: center;
}

.th-id > label {
  margin-bottom: 0;
}

.th-input1 {
  margin-bottom: 20px;
}

.th-output1-value {
  text-decoration: underline;
}

.th-output1 {
  display: flex;
  justify-content: center;
}

.th-output1 > p {
  margin-right: 20px;
}

.th-output1-title {
  font-size: 16px;
}

.th-output1-value {
  font-size: 22px;
  margin-top: 12px;
}
